/*
 * .
 */

.icon-container h4 {
    font-weight: 300;
}

.img-size{ 
    width: 450px;
}

.login-container .inner{
    padding: 100px;
}

/*
 * Media Queries
 */

@media (max-width: 991px) and (min-width: 769px) {
    .login-container .icon-container{
        width: 40%;
    }
    
    .login-container .form-container{
       width: 60%;
    }
}  

@media (max-width: 767px) and (min-width: 480px) {
    .icon-container {
        display: none;
        
    }
}

@media (max-width: 479px) {
    .icon-container {
        display: none;
    }
    

}

@media (max-width: 320px){
    .icon-container {
        display: none;
    }
    
    .img-size{ 
        width: 200px;
    }
    
    .login-container .inner{
        padding: 25px 0 0 0;
    }
    
    .row{
        margin-right: 0;
        margin-left: 0;
    }

    .site-wrapper {
      padding: 0px 15px 0 15px;
    }

    .pinch-navbar{
        position: relative;   
    }
    
}

    




