  
    .login-form {
        vertical-align: center;
    }

    .login-form:before {
		border-style: none;
	}

    .input-icon {
        text-shadow: none;
    }

    .form-control:focus + .input-icon {
        color: #e87915;
    }

    <!-- Needs to be fixed -->

    .container h1 {
        margin-bottom: 100px;
        text-align: center;
        padding-left:28px;
    }

    h6 {
        margin-bottom: 60px;
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
        width: 100%;
        padding-top: 0px;
        font-size: 20px;
    }

    .more {
        padding-top: 20px;
        color: #e87915;
        padding-bottom: 20px;
    }

/*
    .form-section {
        align-content: center;
    }
*/
    
    .btn-danger {
        background-color: #e87915;
    }

    .btn-danger:hover {
        background-color: #f1c40f;
    }

    .btn-danger:focus {
        background-color: #f1c40f;
    }

    h1 {
        text-align: center;
        margin-bottom: 60px;
        padding-left: 10px;
    }

    .form-container {
        align-content: center;
        padding-bottom: 20px;
    }